@tailwind base;

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "Comfortaa";
  text-transform: lowercase;
}

p,
ul,
li {
  font-family: "montserrat";
}

@tailwind components;

@tailwind utilities;

.comfortaa {
  font-family: "Comfortaa";
}

.montserrat {
  font-family: "Montserrat";
}
